@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('./assets/background.jpg');  /* Correct syntax */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
